################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PTracer/x64/Debug
/RunPTracer/x64/Debug
/RunPTracer/RunPTracer.vcxproj.user
/RunPTracer/RunPTracer.vcxproj.filters
/PTracer/PTracer.vcxproj.user
/PTracer/PTracer.vcxproj.filters
/x64/Debug
/Libs/libipt/lib/libipt.pdb
/Libs/libipt/lib/libipt.lib
/Libs/libipt/lib/libipt.dll
/Libs/libipt/include/intel-pt.h
/Debug
/PTracer/Debug
/PTracer/x64
/PTracer/PTracer.vcxproj.user
/PTracer/PTracer.vcxproj.filters
/PyPTracer/Debug
/PyPTracer/x64
/PyPTracer/PyPTracer.vcxproj.user
/PyPTracer/PyPTracer.vcxproj.filters
/x64/Release
/pyptracertool/trace.pt
/TestFiles/trace.pt
*.dmp
*.p
__pycache__/
