################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/iptanalyzer/x64/Debug
/iptanalyzer_tests/x64/Debug
/iptanalyzer_tests/iptanalyzer_tests.vcxproj.user
/iptanalyzer_tests/iptanalyzer_tests.vcxproj.filters
/iptanalyzer/iptanalyzer.vcxproj.user
/iptanalyzer/iptanalyzer.vcxproj.filters
/x64/Debug
/Libs/libipt/lib/libipt.pdb
/Libs/libipt/lib/libipt.lib
/Libs/libipt/lib/libipt.dll
/Libs/libipt/include/intel-pt.h
/Debug
/iptanalyzer/Debug
/iptanalyzer/x64
/iptanalyzer/iptanalyzer.vcxproj.user
/iptanalyzer/iptanalyzer.vcxproj.filters
/Pyiptanalyzer/Debug
/Pyiptanalyzer/x64
/Pyiptanalyzer/Pyiptanalyzer.vcxproj.user
/Pyiptanalyzer/Pyiptanalyzer.vcxproj.filters
/x64/Release
/pyiptanalyzertool/trace.pt
/test_files/trace.pt
*.dmp
*.p
__pycache__/
/test_files/0x104b9bec.txt
/test_files/0x104b9bec.pt
/pyiptanalyzertool/ins.txt
/pyiptanalyzertool/block_analyzer.txt
/pyiptanalyzertool/pyiptanalyzer.pyd
/pyiptanalyzertool/libipt.dll
test_files/blocks.cache
/pyiptanalyzertool/pyiptanalyzertool/pyiptanalyzer.pyd
/pyiptanalyzertool/pyiptanalyzertool/libipt.dll
pyiptanalyzertool/iptanalyzer.lib
pyiptanalyzertool/iptanalyzer.pdb
pyiptanalyzertool/pyiptanalyzer.exp
pyiptanalyzertool/pyiptanalyzer.ilk
pyiptanalyzertool/pyiptanalyzer.lib
pyiptanalyzertool/pyiptanalyzer.pdb
pyiptanalyzertool/pyiptanalyzertool_ohjeongwook.egg-info/
pyiptanalyzertool/dist/pyiptanalyzertool_ohjeongwook-0.0.1-py3.8.egg
Debug/
