################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ipt/x64/Debug
/ipt_tests/x64/Debug
/ipt_tests/ipt_tests.vcxproj.user
/ipt_tests/ipt_tests.vcxproj.filters
/ipt/ipt.vcxproj.user
/ipt/ipt.vcxproj.filters
/x64/Debug
/Libs/libipt/lib/libipt.pdb
/Libs/libipt/lib/libipt.lib
/Libs/libipt/lib/libipt.dll
/Libs/libipt/include/intel-pt.h
/Debug
/ipt/Debug
/ipt/x64
/ipt/ipt.vcxproj.user
/ipt/ipt.vcxproj.filters
/pyipt/Debug
/pyipt/x64
/pyipt/Pyipt.vcxproj.user
/pyipt/Pyipt.vcxproj.filters
/x64/Release
/pyipttool/trace.pt
/tests/test_files/trace.pt
*.p
__pycache__/
/tests/test_files/0x104b9bec.txt
/tests/test_files/0x104b9bec.pt
/pyipttool/ins.txt
/pyipttool/block_analyzer.txt
/pyipttool/pyipt.pyd
/pyipttool/libipt.dll
test_files/blocks.cache
/pyipttool/pyipttool/pyipt.pyd
/pyipttool/pyipttool/libipt.dll
pyipttool/ipt.lib
pyipttool/ipt.pdb
pyipttool/pyipt.exp
pyipttool/pyipt.ilk
pyipttool/pyipt.lib
pyipttool/pyipt.pdb
pyipttool/pyipttool_ohjeongwook.egg-info/
pyipttool/dist/pyipttool_ohjeongwook-0.0.1-py3.8.egg
Debug/
tests/test_files/notepad.exe.dmp
tests/ipt_tests/ipt_tests.vcxproj.user
tests/test_files/blocks.cache
pyipt.pyd
libipt.dll
pyipt.pyd
pyiptanalyzer.pyd
Libs/libipt/
tests/test_files/logs/
tests/test_files/blocks.cache.1
tests/test_files/blocks.cache.2
tmp/
*.sqlite
tests/coverage/coverage.txt
tests/test_files/cache_merge.cmd
